{
  "importOrder": ["^.*\\.scss", "^[./]"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "importOrderGroupNamespaceSpecifiers": true,
  "plugins": ["@trivago/prettier-plugin-sort-imports"]
}
